{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}
h1{
  font-size:25px;
  color:#C0392B  ;
  padding:0;
  margin:0;
}
h2{
  font-size:25px;
  color:#E91E63   ;
  padding:0;
  margin-top:10px;
  margin-bottom:40px;

}
img{
  float:right;
  width:100px;
  height:100px;
  text-align: right;
  position:absolute;
  top:0;
  right:0;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  }
input[type="checkbox"]+span {
  font: 12pt sans-serif;
  color: #000;
}

input[type="checkbox"]+span:before {
  font: 12pt FontAwesome;
   content: '\00f096';
   display: inline-block;
   width: 12pt;
   padding: 2px 0 0 3px;
   margin-right: 0.5em;
 }
input[type="checkbox"]:checked+span:before {
  content: '\00f046';
}
input[type="checkbox"]:focus+span:before {
   outline: 1px dotted #aaa;
 }
input[type="checkbox"]:disabled+span {
   color: #999;
 }
input[type="checkbox"]:not(:disabled)+span:hover:before {
  text-shadow: 0 1px 2px #77F;
}
label{
  display:block;
  margin-top:40px;
  margin-left:0px;
}
p{
  color:#E64A19;
  font size : 14px;
  margin-left:40px;
}
.cover-background {
height:800px;
 background: linear-gradient(
  to top left,
  rgba(12,10,54,0.5),
  rgba(12,10,54,0.5) 50%,
  rgba(255,255,255,0.7) 50%,
  rgba(255,255,255,0.7));
 /* background-image: url('background.png');*/
background-size: cover;
position: relative;
}
